<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<name>
		<lang name="default">Fashion</lang>
	</name>
	<author>
		<lang name="default">Mirocow</lang>
	</author>
	<homepage>http://mirocow.com</homepage>
	<version>0.0.5</version>
	<requires>
		<livestreet>1.*</livestreet>
		<plugins>
		</plugins>
	</requires>
	<description>
		<lang name="default"></lang>
		<lang name="russian">Плагин позволяет создавать неограниченное кол-во профилей и полей к ним.<br/>
Редактировать поля профиля в личном кабинете, а также выполнять отбор по профилям и предоставлять статистику по их количеству.</lang>
	</description>
</plugin>